* {
    margin: 0;
    padding: 0;
}

.full-page {
    height: 100vh;
    width: 100vw;
}

.grid-center {
    align-self: center;
    justify-self: center;
}

.vertical-center {
    align-self: center;
}

.horizontal-center {
    justify-self: center;
}

.r-font {
    font-family: 'Roboto', sans-serif;    
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
    "logo logo navbar navbar"
    "title title title title"
    "social-icons social-icons social-icons social-icons"
}

.logo {
    margin: 10px 50px;
}

.navbar {
    grid-area: navbar;
    justify-self: end;
    margin-right: 30px; 
}

.navbar-list {
    list-style: none;
    display: flex;
}

.navbar-list-item {
    margin: 20px 25px;
}

.logo {
    grid-area: logo;
}

.title {
    grid-area: title;
}

.name {
    font-size: 3em
}

.name-sub {
    font-size: 1.2em;
}

.social-icons {
    grid-area: social-icons;
    margin-left: 30px;
    align-self: center;
}

.icon-box {
    display: flex;
}

.icon-box svg {
    padding: 0 20px;
}