.about {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "title title title"
        "about about about";
    background-color: black;
}

.about-title {
    grid-area: title;
    padding: 30px 0px 10px 0px;
    justify-self: center;
}

.about-summary {
    grid-area: about;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0;    
    justify-self: center;
    padding: 0 14.28%;
    text-align: center;
}